body {
	font-family: Helvetica,Arial, sans-serif;
	background:#20653B;
	height:100%;
    margin:0;
    padding:0; 
}

header{
	text-align:left;
	color:#f7f7f7;
	background:#20653B;
	padding-left:40px;
	font-variant: small-caps;
	height:75px;
}
table{
		background:#FFFFFF;
		margin-bottom:10px;
		margin-top: 40px;
}
#backtable{
	background:#FFFFFF;
}
#teste{
	background:#FFFBFB;
	border: 14p;
}

footer{
	text-align:right;
	font-size:x-small;
	background:#20653B;
	color:#f7f7f7;
	height:20px;
	
}
div.main{
	padding: 50px 100px 150px;
	text-align:center;
}
#modelo,
div.main{
	background: #FFFFFF;
}

div.main input[type=button]{
	padding: 10px 20px;
	font-weight: bold;
	border-radius: 5px;
	
}


input[type=button],
input[type=submit],
input[type=reset]{
	
	background: #f7f7f7;
	padding:1px 5px;
	color: #374343;
	font-weight: bold;
	border:1px;
	border-color:#374343;
	border-style:solid;
}

input[type=button]:hover,
input[type=submit]:hover,
input[type=reset]:hover{
	background:#374343;
	color:#F7F7F7;	
	
	border: 1px;
	border-color:#F7F7F7;
	border-style:solid;	
}

#controlCasosUso input[type=button],
#controloDiagramaClasses input[type=button]
{
	padding: 5px 10px;
	font-weight: bold;
	background: #f7f7f7;
	color:#374343;
	font-variant: small-caps;
	font-size: small;
	border:0px;
	border-bottom:1px solid #374343;
	border-radius: 2px;
}



#controlCasosUso input[type=button]:hover,
#controloDiagramaClasses input[type=button]:hover{
	background: #374343;
	color: #f7f7f7;
}


a:link, a:visited{
	color: #f7f7f7;
	/*font-weight: bold;*/
	text-decoration: none;
}

a:hover{
	color: #777777;
	font-weight: bolder;
	text-decoration: none;
}

#dialogo, 
#dialogo_actor, 
#dialogo_casos_uso,
#dialogo_associa_casos,
#dialogoAlteraClasse,
#dialogoAlteraInterface,
#dialogoAssociaClasses,
#dialogoMostarXMLClasses,
#dialogoMostarXMLCasos,
#dialogoGravarDiagrama,
#dialogoAbreDiagrama,
#dialogoAbreDiagramaCasosDisco,
#dialogoAbreDiagramaClassesDisco,
#dialogoGravaDiaClassesDisco,
#dialogoGravaDiaCasosDisco{
     visibility: hidden;
     position: absolute;
     left: 0px;
     top: 0px;
     width:100%;
     height:100%;
     text-align:center;
     z-index: 1000;
}

#dialogo div , 
#dialogo_actor div:first-child,
#dialogo_casos_uso div,
#dialogo_associa_casos div,
#dialogoAlteraClasse div:first-child,
#dialogoAlteraInterface div:first-child,
#dialogoAssociaClasses div,
#dialogoMostarXMLClasses div,
#dialogoMostarXMLCasos div,
#dialogoGravarDiagrama div,
#dialogoAbreDiagrama div,
#dialogoAbreDiagramaCasosDisco div,
#dialogoAbreDiagramaClassesDisco div,
#dialogoGravaDiaClassesDisco div,
#dialogoGravaDiaCasosDisco div
{
     width:320px;
     margin: 120px auto;
     background-color: #fff;
     border:1px solid #000;
     border-radius: 5px;
     box-shadow: 5px 5px 5px #374343;
     padding:15px;
     text-align:center;
}
#dialogoMostarXMLClasses div,
#dialogoMostarXMLCasos div{
	 width:800px;
}

#xmlClasses,
#xmlCasos{
	width: 750px;
	height:500px;
}

fieldset{
	border-radius: 5px;
	font-size: small;
	text-align: left;
}

fieldset input[type=text]{
	width: 260px;
}

fieldset select{
	width: 100%;
}


#ferramentas{
	/*position: relative;
	left:0px;
	top:20px;
	width: 120px;
	*/
	float:right;
	width:120px;
	background-color:#374343;
	color: #F7F7F7;
	padding: 2px;
	text-align:center;
	font-variant: small-caps;
	font-size: small;	
	
	z-index: 500;
}
/*
#ferramentas p{
	padding: 5px;
	text-align:center;
	font-variant: small-caps;
	font-size: small;
	//margin-left:auto;
	//margin-right:auto;
}

*/
#blackHole{
	position:relative;
	float:right;
	left:0px;
	top:-120px;
	width:120px;
	height:120px;
	/*border: 1px solid #374343;*/
	text-align:center;
	font-variant: small-caps;
	font-size: small;
}
#blackHole p{
	padding: 5px;
}


/* Codigo eleborado para a formatacao da tabela */

/*table ,td, tr{
	font-family: Helvetica,Arial, sans-serif;
	border: 1px grey;
    border-collapse: collapse;
	/*margin-top: 50px;
	margin-bottom:50px;*/
}

/*div >div{background-color:#FFFFFF;}*/

.black{
	border-left-color: 1px #000000;
	border-collapse:collapse;
}
td{
	padding: 0px;
}
p{
	font-size:11px;
	text-align:center;
}
.icon{
	height: 20px;
	width: 40px;
}
h2{
	font-size:14px;
}

#td01{
	background-color:#20653B;	
}
h1{
	color:#FFFFFF;
}
#z01,#z03,#z05,#i01,#i03,#i05{
	background-color:#DADADA;
}

#el{
	height: "50px";
}

#p0h{
	text-align: right;
}


/*Adapted from the source code in http://www.thecssninja.com/css/css-tree-menu*/

/* CSS Tree menu styles */
#tree{
	vertical-align: top;
}



ol.tree
{
	padding: 0 0 0 30px;
	width: 200px;
	font-family: Helvetica !important;
}
	li 
	{ 
		position: relative; 
		margin-left: -15px;
		list-style: none;
	}
	li.file
	{
		margin-left: -1px !important;
		font-weight: normal !important;
		font-size: 12px !important;
	}
		li.file a
		{
			background: url(img/document.png) 0 0 no-repeat;
			color: #000;
			padding-left: 21px;
			text-decoration: none;
			display: block;
		}
		li.file a[href *= '.pdf']	{ background: url(img/document.png) 0 0 no-repeat; }
		li.file a[href *= '.html']	{ background: url(img/document.png) 0 0 no-repeat; }
		li.file a[href $= '.css']	{ background: url(img/document.png) 0 0 no-repeat; }
		li.file a[href $= '.js']	{ background: url(img/document.png) 0 0 no-repeat; }
	li input
	{
		position: absolute;
		left: 0;
		margin-left: 0;
		opacity: 0;
		z-index: 2;
		cursor: pointer;
		height: 1em;
		width: 1em;
		top: 0;
	}
		li input + ol
		{
			background: url(img/toggle-small-expand.png) 40px 0 no-repeat;
			margin: -0.938em 0 0 -44px; /* 15px */
			height: 1em;
		}
		li input + ol > li { display: none; margin-left: -14px !important; padding-left: 1px; }
	li label
	{
		background: url(img/folder-horizontal.png) 15px 1px no-repeat;
		cursor: pointer;
		display: block;
		padding-left: 37px;
		font-size: 15px !important;
	}

	li input:checked + ol
	{
		background: url(img/toggle-small.png) 40px 5px no-repeat;
		margin: -1.25em 0 0 -44px; /* 20px */
		padding: 1.563em 0 0 80px;
		height: auto;
	}
		li input:checked + ol > li { display: block; margin: 0 0 0.125em;  /* 2px */}
		li input:checked + ol > li:last-child { margin: 0 0 0.063em; /* 1px */ }

/* Toolbar */
.floating-menu{
	position:fixed;
	background:#fff4c8;
	border:1px solid #ffcc00;
	width:150px;
	z-index:300;
}
.floating-menu a
.floating-menu h3{
	display:block;
	margin:0 0.5em;
}
