body {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 15px;
    background: #3C3F41;
    border: 1px #f7f7f7 solid;
    height: 550px;
    width: 278px;
    color: #f7f7f7;
    padding-left: 15px;
    padding-top: 15px;
}
h1 {
    font-size: 20px;
    color: #f7f7f7;
    text-align: center;
}
h2 {
    font-size: 18px;
    color: #f7f7f7;
    padding-left: 10px;
}
#h1Prof {
    text-align: center;
}
#setNick,
#setAccount {
    padding-left: 15px;
    border-radius: 2px;
}
#chat {
    height: 465px;
}
#chat p {
    color: #f7f7f7;
    float: left;
}
#contentWrap {
    background: #3C3F41;
    display: none;
    font-size: 12px;
}
#chatWrap {
    background: #3C3F41;
    float: left;
    border: 1px solid #f7f7f7;
    height: 495px;
    border-radius: 5px;
    font-size: 14px;
}
#chatWrap p {
    color: red;
}
#nickWrap p {
    padding-left: 15px;
    color: #f7f7f7;
}
#nickWrap input[type=submit],
#regForm input[type=submit],
#deniedBtn input[type=button],
#goLogBtn input[type=button],
#goLogBtn2 input[type=submit],
#try,
#btnGoFor344{
    padding: 5px 10px;
    font-weight: bold;
    background: #f7f7f7;
    color: #374343;
    font-variant: small-caps;
    font-size: small;
    border: 0px;
    border-bottom: 1px solid #374343;
    border-radius: 2px;
    float: right;
    margin-right: 15px;
}
#LOUT,
#GCHAT {
    padding: 5px 10px;
    font-weight: bold;
    background: #f7f7f7;
    color: #374343;
    font-variant: small-caps;
    font-size: small;
    border: 0px;
    border-bottom: 1px solid #374343;
    border-radius: 2px;
    float: right;
    margin-right: 15px;
}
#CHP {
    padding: 5px 10px;
    font-weight: bold;
    background: #f7f7f7;
    color: #374343;
    font-variant: small-caps;
    font-size: small;
    border: 0px;
    border-bottom: 1px solid #374343;
    border-radius: 2px;
    float: left;
    margin-right: 15px;
}
#CancelChanges,
#ChangeForm input[type=submit] {
    padding: 5px 5px;
    font-weight: bold;
    background: #f7f7f7;
    color: #374343;
    font-variant: small-caps;
    font-size: small;
    border: 0px;
    border-bottom: 1px solid #374343;
    border-radius: 2px;
    margin-right: 15px;
    width: 100px;
    float: right;
}
#DeleteButton {
    padding: 5px 5px;
    font-weight: bold;
    background: #f7f7f7;
    color: #374343;
    font-variant: small-caps;
    font-size: small;
    border: 0px;
    border-bottom: 1px solid #374343;
    border-radius: 2px;
    margin-right: 15px;
    width: auto;
    float: right
}
#regForm input[type=submit] {
    width: auto;
}
#nickWrap input[type=submit]:hover,
#regForm input[type=submit]:hover,
#deniedBtn input[type=submit]:hover,
#goLogBtn input[type=submit]:hover,
#goLogBtn2 input[type=submit]:hover,
#ChangeForm input[type=button]:hover,
#ChangeForm input[type=submit]:hover {
    background: #374343;
    color: #f7f7f7;
}
#nickname,
#nickpass,
#nicknameAc,
#nickpassAc {
    border-radius: 4px;
}
input {
    text-align: center;
}
#send-message {
    padding-left: 5px;
}
#infoToChat {
    font-size: 9px;
    color: #f7f7f7 !important;
}
#regForm {
    padding-right: 10px;
}
#smallInfo {
    font-size: 10px;
}
#fs1 {
    border: none;
}
#fs1 input {
    border-radius: 2px;
    align-content: center;
}
#fs1 input[type=text],
#fs1 input[type=password]
{
    width: 150px;
}
#loginForm input {
    border-radius: 2px;
}
li {
    color: red;
    font-size: 10px;
}
